################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/.vs/UcsMetadataUtility
/.vs
/src/UcsMetadataUtility/.vs/UcsMetadataUtility
/src/UcsMetadataUtility/bin/Debug/net6.0
/src/UcsMetadataUtility/obj
