<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - UcsUtilityWeb</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/UcsUtilityWeb.styles.css" asp-append-version="true" />
</head>
<body style="background-color:#e5eff1;">
    <header>
        <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e5eff1;">
            <div class="container-fluid">
                <ul class="navbar-nav" style="display: flex;list-style-type: none;justify-content: center;flex-wrap: wrap;">
                    <li class="nav-item text-center mx-2 mx-lg-1">
                        <a style="text-decoration: none;" class="nav-link active" aria-current="page" href="/Index" style="color: cornflowerblue">
                            <div><i class="fa fa-home fa-lg mb-1" style="color: cornflowerblue"></i>&nbsp;Home</div>
                        </a>
                    </li>
                    <li class="nav-item text-center mx-2 mx-lg-1">
                        <a style="text-decoration: none;" class="nav-link active" aria-current="page" href="/Search" style="color: cornflowerblue">
                            <div><i class="fa fa-search fa-lg mb-1" style="color: cornflowerblue"></i>&nbsp;Search</div>
                        </a>
                    </li>
                    <li class="nav-item text-center mx-2 mx-lg-1">
                        <a style="text-decoration: none;" class="nav-link active" aria-current="page" href="/About" style="color: cornflowerblue">
                            <div><i class="fa fa-question fa-lg mb-1" style="color: cornflowerblue"></i>&nbsp;About</div>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>